
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0;
  top:10%;
}

.h1 {
  font-size: 25px;
  color: #fff;
  padding-top: -3px;
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  
  top: 100%;
  left: 0;
  padding: 10px;
  z-index: 1;
}

.header-link {
  text-decoration: underline;
  color: #fff;
  font-size: 15px;
  cursor: pointer; /* Added this line */
}
.header-link:hover{
  text-decoration: red;
}
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .header-link {
    font-size: 18px;
  }
}

